# Neon Database Connection String (Replace with your actual string)
DATABASE_URL=postgres://dummy_user:dummy_password@ep-dummy-host-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Google Gemini API Key
GEMINI_API_KEY=
DATABASE_URL="postgres://dummy_user:dummy_password@ep-dummy-endpoint.us-east-2.aws.neon.tech/neondb?sslmode=require"
